{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}
<h1>About Us</h1>

<p>In our premier pet care and management shop, 
we treat your furry companions as cherished 
family members. Our dedicated services prioritize 
the comfort, companionship, and well-being of your 
beloved pets. With a wide array of offerings, 
ranging from grooming and veterinary care to 
premium pet food and personalized training, we've 
created a one-stop destination for all things pet-related.</p> 

{% endblock body %}